img{
    width: 400px;
    height: 250px;
}
div{
    text-align: center;
    border: 5px solid green;
}
button{
    display: block;
    color: rgb(255, 0, 0);
    margin: 0 auto;
}
p {
    color: rgb(51, 255, 0);
}
.text{
    color: rgb(5, 5, 255);
    font-size: 30px;
}